* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  padding: 30px 20px;
  background-color: red;
}
.header-list {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.header-item {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: pink;
}
.header-item:first-child {
  margin-right: auto;
}
main {
  display: flex;
  justify-content: center;
}
.main-left {
  width: 300px;
  background-color: purple;
}
.main-right {
  flex-grow: 1;
  max-width: 700px;
  padding: 20px;
  background-color: green;
  display: flex;
}
.box-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}
.box-item {
  margin: 10px;
  flex-basis: 200px;
  height: 130px;
  background-color: yellow;
}
footer {
  width: 100%;
  padding: 20px;
  background-color: blue;
}
.footer-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-item {
  max-width: 600px;
  flex-basis: 45%;
  height: 40px;
  margin: 10px;
  background-color: white;
}